{% autoescape None %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>B06 Innovation Space</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
	</head>
	<body>
		<div class="main">
			<a href="/">
				<img class="logo" src="{{ static_url("img/logo.png") }}">
			</a>
			<div class="container">
				<h1>欢迎访问B06创新实验室的博客</h1>
				{% autoescape None %}
				{% for blog in blogs %}
				<div class="content">
					<div class="Title">
						<p>
							<a href="/blog/{{ int(blog['id']) }}">{{ blog['title'] }}</a>
						</p>
						<p>
							<span class="Time">{{ time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(blog['date']) ) }}</span>
						</p>
					</div>
					<div class="Article">
						<p>
							{{ blog['content'] }}
						</p>
					</div>
				</div>
				{% end %}
				<a href="/add">
					<input type="button" class="Article Button Submit" value="发    布" onclick="document.location.href('/add/')"/>
				</a>
			</div>
		</div>
	</body>
</html>